#ifndef {{HEADER_GUARD}}
#define {{HEADER_GUARD}}

/**
 * @file {{HEADER_FILENAME}}
 * @brief {{DESCRIPTION}}
 */

{{#INCLUDES}}
#include <{{.}}>
{{/INCLUDES}}

namespace {{NAMESPACE}} {

    /**
     * @brief {{TRAIT_DOC}}
     */
    template <typename T>
    constexpr bool {{TRAIT_NAME}} = {{{TRAIT_IMPL}}};

} // namespace {{NAMESPACE}}

#endif // {{HEADER_GUARD}}