#ifndef {{HEADER_GUARD}}
#define {{HEADER_GUARD}}

/**
 * @file {{HEADER_FILENAME}}
 * @brief {{DESCRIPTION}}
 */

{{#INCLUDES}}
#include {{{.}}}
{{/INCLUDES}}

namespace {{NAMESPACE}} {

    /**
     * @brief {{TRAIT_DOC}}
     */
    template <typename T>
    struct {{TRAIT_NAME}}_helper {
        static constexpr bool value = {{{TRAIT_IMPL}}};
    };

    template <typename T>
    constexpr bool {{TRAIT_NAME}} = {{TRAIT_NAME}}_helper<T>::value;

} // namespace {{NAMESPACE}}

#endif // {{HEADER_GUARD}}