cmake_minimum_required(VERSION {{CMAKE_VERSION}})
project({{CMAKE_PROJECT}})

set(CMAKE_CXX_STANDARD {{CXX_STANDARD}})
set(CMAKE_CXX_STANDARD_REQUIRED ON)

add_library({{MODULE_NAME}}_lib
{{#SOURCE_FILES}}
    src/{{.}}
{{/SOURCE_FILES}}
)

{{#HAS_PACKAGES}}
# === Module Package Dependencies ===
include(FetchContent)

{{#PACKAGES}}
FetchContent_Declare(
    {{NAME}}
    URL {{{URL}}}
)
{{/PACKAGES}}

FetchContent_MakeAvailable(
{{#PACKAGES}}
    {{NAME}}
{{/PACKAGES}}
)
{{/HAS_PACKAGES}}

target_include_directories({{MODULE_NAME}}_lib PUBLIC
    ${CMAKE_CURRENT_SOURCE_DIR}/include
{{#DEPENDS_ON}}
    ${CMAKE_SOURCE_DIR}/{{.}}/include
{{/DEPENDS_ON}}
{{#HAS_PACKAGES}}
{{#PACKAGES}}
    ${CMAKE_BINARY_DIR}/_deps/{{NAME}}-src/{{{INCLUDE}}}
{{/PACKAGES}}
{{/HAS_PACKAGES}}
)

set_target_properties({{MODULE_NAME}}_lib PROPERTIES
    RUNTIME_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin
)