<component name="ProjectRunConfigurationManager">
  <configuration default="false"
                name="{{test_class_name}}"
                type="CMakeGoogleTestRunConfigurationType"
                factoryName="Google Test"
                REDIRECT_INPUT="false"
                ELEVATE="false"
                USE_EXTERNAL_CONSOLE="false"
                PASS_PARENT_ENVS_2="true"
                PROJECT_NAME="{{PROJECT_NAME}}"
                TARGET_NAME="test_{{MODULE_NAME}}"
                CONFIG_NAME="Debug"
                RUN_TARGET_PROJECT_NAME="{{PROJECT_NAME}}"
                RUN_TARGET_NAME="test_{{MODULE_NAME}}"
                TEST_CLASS="{{test_class_name}}"
                TEST_METHOD="executes_scenario"
                TEST_MODE="SUITE_TEST">
    <method v="2">
      <option name="com.jetbrains.cidr.execution.CidrBuildBeforeRunTaskProvider$BuildBeforeRunTask" enabled="true" />
      <option name="BeforeTestRunTask" enabled="true" />
    </method>
  </configuration>
</component>
