#include "{{MODULE_NAME}}.hpp"
#include "{{MODULE_NAME}}_factory.hpp"
#include <iostream>

class {{MODULE_CLASS}}Impl : public {{MODULE_CLASS}} {
public:
    void run() override {
        std::cout << "Running {{MODULE_NAME}} logic..." << std::endl;
    }
};

std::unique_ptr<{{MODULE_CLASS}}> create_{{MODULE_NAME}}_app() {
    return std::make_unique<{{MODULE_CLASS}}Impl>();
}
