#include "{{MODULE_NAME}}.hpp"

namespace {{MODULE_NAME}} {

{{MODULE_NAME}}::{{MODULE_NAME}}() {
    // constructor implementation
}

{{MODULE_NAME}}::~{{MODULE_NAME}}() {
    // destructor implementation
}

void {{MODULE_NAME}}::run() {
    // method implementation
}

} // namespace {{MODULE_NAME}}