cmake_minimum_required(VERSION {{CMAKE_VERSION}})
project({{CMAKE_PROJECT}})

add_library({{MODULE_NAME}}_lib
    src/{{MODULE_NAME}}.cpp
)

target_include_directories({{MODULE_NAME}}_lib PRIVATE
    ${CMAKE_CURRENT_SOURCE_DIR}/include
)

set_target_properties({{MODULE_NAME}}_lib PROPERTIES
    RUNTIME_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin
)
